{% extends "base.html" %}

{% block titulo %}Lista de libros{% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo libro</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        
        <div class="table-responsive">
            
            <table id="myTable" class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    <tr class="">
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>
                            <img src="{{ libro.imagen.url }}" height="100">
                        </td>
                        <td>{{ libro.descripcion }}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editar' libro.id  %}" role="button">Editar</a> 
                            - 
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' libro.id %}" role="button">Borrar</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <script>
                $(document).ready(function () {
                    // Inicializa DataTables
                    var table = $('#myTable').DataTable({
                        stateSave: true, // Habilita el guardado del estado
                        // Otras opciones de configuración aquí
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                        },
                        initComplete: function () {
                            // Guarda el estado actual de DataTables
                            var tableState = table.state.save();
            
                            // Llama a la función para actualizar registros
                            actualizarRegistros();
            
                            // Restaura el estado guardado
                            table.state.restore(tableState);
                        }
                    });
            
                    // Función para traer los registros JSON
                    function actualizarRegistros() {
                        $.ajax({
                            url: '/obtener_registros/',  // Reemplaza con la URL de tu vista
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                // Selecciona la tabla
                                var tabla = $('#myTable tbody');
            
                                // Elimina filas anteriores si las hay
                                tabla.empty();
            
                                // Itera sobre los datos recibidos y agrega filas a la tabla
                                $.each(data, function (index, registro) {
                                    var newRow = '<tr>' +
                                        '<td>' + registro.pk + '</td>' +
                                        '<td>' + registro.titulo + '</td>' +
                                        '<td><img src="' + registro.imagen + '" height="100"></td>' +
                                        '<td>' + registro.descripcion + '</td>' +
                                        '<td><a name="" id="" class="btn btn-info" href="' + registro.url_editar + '" role="button">Editar</a> - <a name="" id="" class="btn btn-danger" href="' + registro.url_eliminar + '" role="button">Borrar</a></td>' +
                                        '</tr>';
                                    tabla.append(newRow);
                                });
                            }
                        });
                    }
            
                    // Llama a la función para actualizar registros en un intervalo de tiempo
                    setInterval(actualizarRegistros, 5000);  // Actualiza cada 5 segundos (ajusta el intervalo según tus necesidades)
                });
            </script>
            
        </div>
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}